@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@layer utilities {
  .bbh-bartle-regular {
    font-family: "BBH Bartle", sans-serif;
  }
  
  .rubik {
    font-family: "Rubik", sans-serif;
  }
  
  .outfit {
    font-family: "Outfit", sans-serif;
  }
  
  .writing-mode-vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}